*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    height: 10%;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;

}

nav a{
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    list-style: none;
    

}
ul a {
    color: black;
    background: fixed;
}
.logo a{
    color: black;
}
header{
    background-image: url(../Images/ho.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    width: 100%;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 30px;
    color: white;
    
}
.first-text{
    margin: 0px;
}
.second-text{
    margin: 0px;
}
.room h1 {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    color: black;
    font-style: italic;

}

.lorem {
    word-wrap: normal;
    width: 22%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.bowl:hover{
     width: 80%;
    margin: 90px auto;
    
}

.room{
    margin-bottom: 40px;
}
.about{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    font-size: 50px;
    font-style: italic;
}
.us{
    /* margin: 20% auto; */
    /* width: 50%; */
}
.cup{
    width: 80%;
    margin: 0 auto;
}
.cup p{
    display: flex;
    flex-direction: row;

}
.pic{
    width: 80%;
    margin: 10px auto;
    gap: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}.about p{
    justify-content: space-around;
    display: flex;
    word-wrap: normal;
    width: 22%;
    text-align: center;
}
.about-line{
    display: flex;
    justify-content: center;
    word-wrap: normal;
    

}
.man{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 2%;
}
.wrap{
    word-wrap: normal;
    width: 22%;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
   
}
.about-us{
    display: flex;
    justify-content: space-around;
    /* margin: 0 auto; */
    /* width: 30px; */
    

}

footer{
    background: fixed;
    background-color: whitesmoke;
    text-align: center;
    padding: 50px;
    
}





